@import "../base/variables";

.error404{
    background-color: $grey-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px 0px;
    h1{
        font-size: 50px;
    }

    #descriptif404{
        font-size: 30px;
        padding-bottom: 50px;
    }
    #returnHome{
        padding: 15px 30px;
        font-size: 20px;
        background-color: $white-bg;
        border-radius: 30px;

        &:hover{
            color: white;
            background-color: $red;
        }
    }
}