@import "../base/variables";



*{
    margin: 0;
    box-sizing: border-box;
    font-family: $inter;
    body{
        background-color: $white-bg;
    }
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: $dark-color;
    transition: all  0.2s ease-in-out;

    &:hover{
        transition: all 0.2s ease-in-out ;
        color: $hover-dark-color;
    }
}

li{
    list-style: none;
}